---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <h1 class="text-white">About the project</h1>
    <p class="text-white">This project is a simple web application that allows users to create, read, update, and delete (CRUD) notes. The notes are stored in a database and can be accessed by any user. The application is built using the Django web framework and uses SQLite as the database. The front-end is built using HTML, CSS, and JavaScript. The application is hosted on Heroku and can be accessed <a href="https://note-taking-app-django.herokuapp.com/">here</a>.</p>
</Layout>
